<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Timeout in hours-->
    <add key="Timeout" value="12"/>
    <!--MongoLAB Settings-->
    <add key="MongoDBURL" value="mongodb://appharbor_e9cb9a23-2526-46a6-aeed-6c77be457d7e:mag1ljsai9c9fl7c7fphdq72eb@ds043168.mongolab.com:43168/appharbor_e9cb9a23-2526-46a6-aeed-6c77be457d7e" />    
    <!--Immutable collections names-->
    <add key="RatingsCollection" value="Ratings" />
    <add key="CommentsCollection" value="Comments" />
    <add key="UsersCollection" value="Users" />
    <add key="UsersSynopsisCollection" value="Users-Synopsis" />
    <add key="GenresCollection" value="Genres" />
    <add key="GenresSynopsisCollection" value="Genres-Synopsis" />
    <add key="AllTvShowsCollection" value="TvShows" />
    <add key="TvShowNewEpisodesCollection" value="NewEpisodes" />
    <!--TheTvDb Settings-->
    <add key="TvDbAPI" value="5C6AA8B2777A033F" />
    <add key="TvDbMirrorPath" value="http://thetvdb.com" />
    <add key="UpdateType" value="updates_day"/>
    <!--The Cloudinary Settings-->
    <add key="Cloudinary:Cloud" value="hgvx2xish" />
    <add key="Cloudinary:ApiKey" value="581722664273528" />
    <add key="Cloudinary:ApiSecret" value="lSjIrzVSW4d0yZoFXN39M87XFVY" />
    <!--SendGrid Settings-->
    <add key="STracker:Email" value="strackerdev@gmail.com" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="logger@stracker.com">
        <network host="smtp.sendgrid.net" password="d85zemqe" userName="2ede5185-4fe2-4e38-81a5-7b7b6d905990@apphb.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>